<container>
  <!-- headline -->
  <div class="row">
    <div class="col-md-12 centered">
      <h1> Shopping Cart Contents</h1>
    </div>
  </div>
  <!-- rubyness for each do -->
  <div class="row">
    <div class="col-md-7">
      <!-- product stuff -->
      <div class="row">
        <div class="col-md-3">
          <!--ITEM PICTURE -->
        </div>
        <div class="col-md-6">
          <!-- item name and category -->
        </div>
        <div class="col-md-3">
          <!-- item price -->
        </div>
      </div>
    </div>
                  
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <!-- quantity -->
        </div>
        <div class="col-md-6">
          <!-- total price -->
        </div>
      </div>    
    </div>
  </div>
  <!-- put end here -->
      
<!-- BOTTOM OF PAGE ACTION -->   
</container>