<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Viking Store</a>
    </div>
    <div class="right-side">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Your Cart", "#" %></li>
        <li><%= link_to "Sign In", new_session_path %> </li>
      </ul>
    </div>
  </div>
</nav>